
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.model="com.adobe.aem.guides.wknd.core.models.MarijaContact"/>
<div class="body">
  <span>${model.title}</span><br/>
  <span>${model.firstName}</span> <br/>
  <span>${model.lastName}</span> <br/>
  <span class="newColor">${model.phoneNumber}</span> <br/>
  <span class="newColor">${model.email}</span> <br/>
  <span>${model.country}</span>
</div>

<sly data-sly-call="${templates.placeholder @isEmpty=!hasContent}"></sly>